body {
  background-image: url(./images/fridge.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -99vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  width: 45rem;
  height: 2.5rem;
  text-align: center;
  color: rgba(237, 225, 225, 0.988);
  background-color: rgb(50, 219, 202);
  border: 4px rgb(0, 0, 0) solid;
}
ul {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 134px;
  left: 420px;
  width: 55vw;
  height: 70vh;
}
ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  background-image: url(./images/notes.png);
  background-size: contain;
  background-repeat: no-repeat;
}
ul li button {
  justify-self: end;
}

.done {
  color: lightgreen;
  text-decoration: line-through;
}
.not-done {
  color: black;
  text-decoration: none;
}
button {
  border: 0 none;
  background-color: transparent;
}
