body {
  background-image: url(./images/fridge.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -99vh;
  position: relative;
}
ul {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 134px;
  left: 420px;
  width: 55vw;
  height: 70vh;
}
ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  background-image: url(./images/notes.png);
  background-size: contain;
  background-repeat: no-repeat;
}
ul li button {
  justify-self: end;
}

.done {
  color: lightgreen;
  text-decoration: line-through;
}
.not-done {
  color: black;
  text-decoration: none;
}
button {
  border: 0 none;
  background-color: transparent;
}
